.home-page {
  padding: 1rem;
  text-align: center;

  .stats-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .stat-card {
    min-width: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;

    h3 {
      margin-top: 0;
    }

    .right-panel {
      flex: 1;
      max-width: 320px;
    }

    .right-panel app-notification {
      display: block;
      width: 100%;
    }
  }
}
